@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    /* border: 1px solid red; */
    /* padding : 0;
    margin : 0;
    box-sizing : border-box;   */
}

:root {
    --primary-color : darkblue;
    --text-color : black;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(145, 138, 138);
    color: black;
    border: 2px solid green;
}

/* common styles */
img {
    width : 100%;
}

a {
    text-decoration : none;
    font-size: 1.5rem;
    color : rgb(0, 0, 0);
    /* border: 1px solid yellow; */
}

h3 {
    font-size: 1.7rem;
}
.professional-summary {
    margin : 20px 0px 0px 0px;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
    text-align: justify;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color);
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: bold;
}

p {
    font-size: 1.5rem;
    font-weight: normal;
}
/* layout */
.container {
    width : 90%;
    max-width: 1000px;
    margin : 0 auto;
    /* display: grid; */
    /* padding: 5rem; */
    background: 070707;
    /*grid-template-columns: 1fr 1fr; /* 2 columns of equal width */
    gap: 4rem;
    border-color: blue;
}
@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 7rem;
    }
}

.profile { 
    margin-bottom: 2rem;
}

/* profile */
.profile_container {
    display: flex;
    gap: 2rem;
    align-items: center;
    border: 1px solid rgb(14, 248, 14);
}

.profile_image {
    max-width: 100px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.name {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: middle;
}

.profile_title {
    font-size: 1.7rem;
    font-weight: 400;
    text-transform: uppercase;
}
.download_button {
    display: block;
    text-decoration: underline;
    font-size: 1.6rem;
    margin-top: 1rem;
}
.download_button:hover {
    color: var(--primary-color);
}
@media only screen and (max-width: 768px) {
    .profile_container {
        flex-direction: column;
    }
}

/* capabilities */
.skills_list,li {
    margin-top: 0.5rem;
    margin-left: 1rem;
    line-height: 1;
    font-size: 1.5rem;
}

.tech-skills-list, .soft-skills-list, .training-list {
    column-count: 3;
}

.responsibilites-1, .responsibilites-2 {
    font-weight: 400;
}

.company-1, .company-2 {
    justify-content: space-between;
}